<h1>Sessions Booked:</h1>

<h2> No. of Sessions Booked:  <%= @member.sessions.count %> </h2>

<% for session in @member.sessions %>
  <table>
  <tr>
    <th>Type:</th>
    <th>Date:</th>
    <th>Time:</th>
  </tr>
  <tr>
    <td><%= session.workshop.type %></td>
    <td><%= session.start_date %></td>
    <td><%= session.start_time %></td>
  </tr>
  </table>
<% end %>
