<h1>All Members</h1>

<h2><a href="/members/new">Add a Member</a></h2>

  <% for member in @members %>
    <p>Name: <%= member.first_name %> <%= member.last_name %></p>
    <a href="/members/<%= member.id %>">Member Information</a>
    <hr />
  <% end %>
