<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Gym</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/members">Members</a></li>
      <li><a href="/workshops">Workshops</a></li>
      <li><a href="/sessions">Sessions</a></li>
    </ul>
</nav>
<%= yield %>
</body>
</html>
