<h1>Create New Workshop</h1>

<form action="/workshops" method="post">
  <label for="type">Type</label>
  <input type="text" name="type">
  <label for="instructor">Instructor</label>
  <input type="text" name="instructor">

  <input type="submit" value="Save">
</form>
