body {
  background-image: url("/images/running-background.jpg");
  background-size: 100%;
}

a:link, a:visited {
  margin: 20px;
  font-family: arial;
  border: 1px solid black;
  text-align: center;
  padding: 5px 10px;
}


nav ul {
  font-size: 20px;
  list-style-type: none;
  font-weight: bold;
}
nav a:link, a:visited {
  color: black;
  border: 4px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px
}

@font-face {
  font-family: PanfletaStencil;
  src: url("/fonts/PanfletaStencil-ExtraBold.ttf");
}

.home {
  font-family: PanfletaStencil;
  font-size: 100px;
  font-weight: bold;
  margin-left: 200px;
}

h1, h2 {
  font-family: arial;
  font-weight: bold;
  margin-left: 20px
}

p {
  font-family: arial;
  font-weight: bold;
  margin-left: 20px;
}

form {
  font-family: arial;
}

.session form {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  display: block;
  background-color: black;
  width: 75%;
}
